{% load static %}
<script src="{% static 'cms/plugins/jquery/dist/jquery.min.js' %}"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="{% static 'cms/plugins/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'cms/js/app-style-switcher.js' %}"></script>
<!--Wave Effects -->
<script src="{% static 'cms/js/waves.js' %}"></script>
<!--Menu sidebar -->
<script src="{% static 'cms/js/sidebarmenu.js' %}"></script>
<!--Custom JavaScript -->
<script src="{% static 'cms/js/custom.js' %}"></script>