
 .bg-card-rp{
    background: rgba(255,255,255,0.80)
 }
 .bg-card-cl{
    background: rgba(232, 255, 253 ,0.80)
 }
 p{
    font-size: 22px;
 }
 .up_border{
   border-top: black 1px outset;
   padding-top: 12px;
   margin-top: 12px;
 }
 th{
    color:white!important;
 }
 thead {
   background-color: #009efb;
 }