{% load static %}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>
        {% block title %}
            School
        {% endblock %}
    </title>
</head>
<body>


    {% block nav_base %}
        {% include 'nav_base.html' %}
    {% endblock %}
<div class="jumbotron">

    {% block content %}
    {% endblock %}
</div>
</body>
</html>